# Environment Mode (DEV or PROD)
VITE_ENVIRONMENT=DEV

# Development Backend URL & Root
VITE_API_URL_DEV=http://localhost:3000/api/mushroom-bot

# Production Backend URL & Root (optional, set when deploying)
VITE_API_URL_PROD=

# Secret key used for additional local verification
VITE_SERVER_SECRET=
